@font-face {
    font-family: 'VT323';
    src: url("/fonts/VT323-Regular.woff2") format('woff2'),
        url("/fonts/VT323-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url("/fonts/ShareTechMono-Regular.woff2") format('woff2'),
        url("/fonts/ShareTechMono-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url("/fonts/Exo2-Regular.woff2") format('woff2'),
        url("/fonts/Exo2-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
